* {box-sizing: border-box;}

body {
    background-color: red;
    max-width: 1000px;
}

p {
    color: #573C33;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    width: 48%;
    height: 50px;
    background-color: #E8E2D8;
}

/*Følgende kode (med enkelte modifikationer) hentet fra: https://www.w3schools.com/css/tryit.asp?filename=trycss_link_advanced*/
a:link, a:visited {
    width: 100%;
    height: 100%;
    color: #172823;
    padding-top: 15px;
    text-align: center;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
  }
  
a:hover, a:active {
    background-image: linear-gradient(#F2EFEB, #E8E2D8);
  }

.projekt {
    height: 150px;
    margin-top: 20px;
    border: 1px solid black;
}

@media screen and (max-width: 990px) {
    body {
        background-color: blue;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-color: #F2EFEB;
    }

    .wrapper {
        width: 75%;
    
        display: flex;
        flex-direction: column;
    }
}