* {box-sizing: border-box;}

body {
    background-color: #F2EFEB;
    max-width: 1080px;
}

nav {
    grid-area: nav;
    
    display: flex;
    justify-content: space-between;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

hr {
    border-top: 2px solid #525A33;
    margin: 5px auto;
}

h1 {
    margin-bottom: 0px;
}

h3 {
    margin-top: 0px;
}

h1, h2, h3, p {
    color: #525A33;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: grid;
    grid-template-areas: "logo nav";

}

#logo {
    width: 100%;
    height: auto;
}

#selected {
    width: 48%;
    height: 50px;
    background-color: #525A33;
    text-align: center;
}

#portrait {
    width: 100%;
    height: 300px;
}

.portrait {
    width: 80%;
}

.logo {
    max-width: 250px;
    grid-area: logo;
}

.wrapper {
    width: 75%;
}

.selected {
    color: #E8E2D8;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.textbox {
    width: 80%;
}

.padding {
    padding-top: 15px;
}

.projekter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projekt {
    width: 49%;
    height: 150px;
    position: relative;
    margin-top: 15px;
}

.projekt-img {
    width: 100%;
    height: 300px;
    margin-top: 15px;
}

.nav-item {
    width: 50%;
    height: 50px;
    background-color: #E8E2D8;
}

.forside-knap {
    height: 50px;
    background-color: #E8E2D8;
    margin-top: 15px;
}

.footer {
    height: 50px;
    
    color: #525A33;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    display: flex;
    justify-content: space-around;
}

/*Følgende kode (med enkelte modifikationer) hentet fra: https://www.w3schools.com/css/tryit.asp?filename=trycss_link_advanced*/
a:link, a:visited {
    width: 100%;
    height: 100%;
    color: #172823;
    text-align: center;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
  }
  
a:hover, a:active {
    background-image: linear-gradient(#F2EFEB, #E8E2D8);
  }
/*Indtil her*/

/*Følgende kode (med enkelte modifikationer) hentet fra: https://www.w3schools.com/css/tryit.asp?filename=trycss_css_image_overlay_fade*/
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-image: linear-gradient(#F2EFEB, #E8E2D8);
}

.overlay-text {
    color: #172823;
    font-size: xx-large;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.projekt:hover .overlay {
    opacity: 0.8;
}
/*Indtil her*/

@media screen and (max-width: 670px) {
    header {
        display: block;
    }

    .logo {
        max-width: 100%;
    }

    .wrapper {
        width: 75%;
    
        display: flex;
        flex-direction: column;
    }

    .projekt {
        width: 100%;
    }

    .textbox {
        width: 100%;
    }

    .show {
        border-top: 0px;
    }

    .hidden {
        display: block;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .portrait {
        width: 100%;
    }
}

@media screen and (max-width: 250px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    #selected {
        width: 100%;
    }

    .nav-item {
        width: 100%;
    }
}