* {box-sizing: border-box;}

nav {
    display: flex;
    justify-content: space-between;
}

img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

body {
    background-color: #F2EFEB;
    max-width: 1000px;
}

hr {
    border-top: 2px solid #525A33;
}

h1, h2, p {
    color: #525A33;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#logo {
    width: 100%;
    height: auto;
}

#selected {
    width: 48%;
    height: auto;
    background-color: #525A33;
    text-align: center;
}

.selected {
    color: #E8E2D8;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.padding {
    padding-top: 15px;
}

.projekt {
    width: 100%;
    height: 150px;
    position: relative;
    margin-top: 15px;
}

.projekt-img {
    width: 100%;
    height: 150px;
    margin-top: 15px;
}

.nav-item {
    width: 48%;
    height: 50px;
    background-color: #E8E2D8;
}

.forside-knap {
    height: 50px;
    background-color: #E8E2D8;
    margin-top: 15px;
}

.footer {
    height: 50px;
    
    color: #525A33;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    display: flex;
    justify-content: space-around;
}

/*Følgende kode (med enkelte modifikationer) hentet fra: https://www.w3schools.com/css/tryit.asp?filename=trycss_link_advanced*/
a:link, a:visited {
    width: 100%;
    height: 100%;
    color: #172823;
    text-align: center;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
  }
  
a:hover, a:active {
    background-image: linear-gradient(#F2EFEB, #E8E2D8);
  }
/*Indtil her*/

/*Følgende kode (med enkelte modifikationer) hentet fra: https://www.w3schools.com/css/tryit.asp?filename=trycss_css_image_overlay_fade*/
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-image: linear-gradient(#F2EFEB, #E8E2D8);
}

.overlay-text {
    color: #172823;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.projekt:hover .overlay {
    opacity: 0.8;
}
/*Indtil her*/

@media screen and (max-width: 990px) {
    body {
        background-color: blue;
    }

    .wrapper {
        width: 75%;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-color: #F2EFEB;
    }

    .wrapper {
        width: 75%;
    
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}